body{
  margin:0;
  font-family:Arial;
  background:#f5f5f5;
}

/* TOP BAR */
.top{
  background:#f85606;
  color:white;
  padding:10px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.top input{
  width:50%;
  padding:8px;
  border:none;
}

/* CATEGORY */
.cat{
  background:white;
  padding:10px;
  display:flex;
  gap:20px;
}
.cat span{
  cursor:pointer;
}

/* BANNER */
.banner{
  background:#ff6a00;
  color:white;
  text-align:center;
  padding:20px;
  font-size:20px;
}

/* PRODUCTS */
.products{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:15px;
  padding:20px;
}

.card{
  background:white;
  padding:10px;
  position:relative;
}

.card img{
  width:100%;
  height:150px;
  object-fit:cover;
}

/* BADGE */
.badge{
  position:absolute;
  top:10px;
  left:10px;
  background:red;
  color:white;
  font-size:12px;
  padding:3px 6px;
}

/* TAG */
.tag{
  background:green;
  color:white;
  font-size:12px;
  padding:2px 5px;
  display:inline-block;
  margin-top:5px;
}

/* PRICE */
.old{
  text-decoration:line-through;
  color:gray;
  font-size:13px;
}

/* CART */
.cart{
  position:fixed;
  right:-300px;
  top:0;
  width:300px;
  height:100%;
  background:white;
  padding:10px;
  transition:.3s;
}
.cart.active{
  right:0;
}

button{
  background:#f85606;
  color:white;
  border:none;
  padding:5px;
  margin-top:5px;
  cursor:pointer;
}
